<a href="/authors">
  <section class="box">
    <i class="fa fa-user fa-2x"></i>
    <h2>Authors</h2>
  </section>
</a>
<a href="/books">
  <section class="box">
    <i class="fa fa-bookmark fa-2x"></i>
    <h2>Books</h2>
  </section>
</a>

<section class="layout">
  <section class="bookEditInfo">
    <img src="{{book.cover_url}}" alt="book cover" />
  </section>
    <div><p>Title: {{book.title}}</p></div>
    <div><p>Genre: {{book.genre}}</p></div>
    <div><p>{{book.description}}</p></div>


  <section class="formCenter">
    <h1>Update and Edit your Book:</h1>
    <section>
      <form action="/books/{{book.id}}/editBook" method="post">
        <label for="title">Title:</label><br>
        <input type="text" name="title" value="{{book.title}}" required><br>
        <label for="genre">Genre:</label><br>
        <input type="text" name="genre" value="{{book.genre}}" required><br>
        <label for="cover_url">Cover Image URL:</label><br>
        <input type="text" name="cover_url" value="{{book.cover_url}}" required><br>
        <label for="description">Description:</label><br>
        <textarea name="description" rows="8" cols="40" required></textarea><br>
        <button type="submit">Update Book</button>
      </form>
    </section>
  </section>
</section>
